modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34307
externalPort = 3003

[[ports]]
localPort = 34559
externalPort = 8008

[[ports]]
localPort = 36015
externalPort = 8000

[[ports]]
localPort = 36337
externalPort = 3001

[[ports]]
localPort = 37613
externalPort = 6000

[[ports]]
localPort = 41661
externalPort = 5173

[[ports]]
localPort = 42079
externalPort = 3002

[[ports]]
localPort = 42489
externalPort = 4200

[[ports]]
localPort = 45233
externalPort = 5000

[[ports]]
localPort = 45409
externalPort = 6800

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
